<h1> {{ todo.subject.subject }} </h1>

<div>
  {{ todo.content }}
</div>

<h5>{{ todo.subject.todo_set|length }}개의 목록</h5>
<div>
  <ul>
  {% for todo in todo.subject.todo_set %}
    <li>{{ todo.content }} </li>
  {% endfor %}
  </ul>
</div>

<form action="{{ url_for('todo.create', todo_id=todo.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
</form>