<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static',filename='bootstrap.min.css' )}}>
    <title>journal</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='ajax.js')}}"></script>
</head>

<body>
    <!-- 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand" href={{url_for('main.timer')}}>졸지마</a>
        <!--링크 수정할 부분 밑에 nav 두개 더-->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href={{url_for('main.journal')}}>일지</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href={{url_for('main.rank')}}>순위</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href={{url_for('main.test')}}>테스트</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if clicked %}
    <h1>{{clicked}}</h1>
    {% endif %}
    {% if todo_list %}
    <div>
        <ul>
            {% for subject in todo_list %}

            <li><a href="{{url_for('main.detail', todo_id = subject.id )}}">{{ subject.subject }}</a></li>

            {% endfor %}
        </ul>
        {% else %}
        <p> 빈 값입니다. </p>
        {% endif %}
    </div>
    <div>
        <a href={{url_for('main.test')}}><button type="button" class="btn">일지쓰기</button></a>
    </div>

</body>

</html>