<html>

<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <p id="example">AJAX</p>
    <input type="text" id="subject" placeholder="sub">
    <input type="text" id="content" placeholder="con">
    <input type="button" id="execute" value="execute">


    <script>

        $('#execute').on('click', function () {
            var subject = $('#subject').val();
            var content = $('#content').val();


            var postdata = {
                'subject': subject, 'content': content
            }
            $.ajax({
                type: 'POST',
                url: '/tst',
                data: JSON.stringify(postdata),
                dataType: 'JSON',
                contentType: "application/json",
                success: function (data) {
                    alert('성공! 데이터 값:' + data.result2['subject'] + " " + data.result2['content'])
                },
                error: function (request, status, error) {
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        })
    </script>


</body>

</html>