
* {
    margin: 0px;
    padding: 0px;
}

/* body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.box {
    width: 200px;
    height: 200px;
}

.timerBox {
    width: 200px;
    outline: 2px solid black;
}

.timerBox .time {
    font-size: 30pt;
    /* color: #4C4C4C; */
    text-align: center;
    font-family: sans-serif;
}

.btnBox {
    margin: 20px auto;
    text-align: center;
}

.btnBox .fa {
    margin: 0px 5px;
    font-size: 30pt;
    /* color: #FAED7D; */
    cursor: pointer;
}
.likebody {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#link{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.current {
    display: flex;
}